.box-blue {
  background: lightskyblue;
  height: 100px;
  width: 100px; 
  }
.box-orange {
  position: absolute;
  background: orange;
  width: 100px;
  height: 100px;
  right: 50px;     /*50px relative to the most-right of parent*/
  }

.container {
  position: relative;
  left: 10px;
  top: 10px;
  background: lightgray;
  }