.container {
  display: grid;
  grid-template-columns: auto 100px 30%;
  grid-template-rows: 200px auto;
  gap: 10px;
  background-color:aqua;
  padding: 1em;
}

.box{
  background-color: purple;
  color: white;
  border-radius: 5px;
}

.container1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 50px 1fr;
  gap: 5px;
  background-color:rgb(60, 5, 179);

}

